*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
   border: border-box;
}
.navbar{
    height: 60px;
    color: white;
    background: #0f1111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 113px;
}
.logo{
    /* background: #007581; */
    height: 50px;
    width: 113px;
    background-size: cover; 
    background-image: url(amazon_logo.png);
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* box2 */


#deliver{
    color: #cccccc;
    font-size: 12px;
   
    margin-left: 15px;

}
.add-icon{
    display: flex;
    align-items: center;
    color: white;

}
.add-icon p{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 3px;
   
}

/* box3 */
.search-nav{
    display: flex;
    width: 898px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    background: pink;

}

.search-nav-item{
  width: 51px;
  height: 40px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; 
  padding-left: 5px;
 background-color: #f3f3f3;
  font-size: 14px;
border: none;
}

.input-area{
  width: 100%;
  padding: 10px;
  border: none;
  
  font-size: 15px;
}

.search-nav i{
  width: 45px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494947;
  font-size: 22px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: rgba(253, 189, 71, 0.946);
  /* padding-top: 15px; */
}


/* box4 */

.flag{
    
    width: 22px;
    height: 16px;
    background-size: cover;
    background-image: url(usaflag.png);
    display: inline-block;
}
.lang{
    font-size: 14px;
    font-weight: 700;
    margin-left: 5px;
}

/* box5 */
.nav-lang{
    display: flex;
}
.sing-in{
    font-size: 12px;
}
.Acc-List{

    font-size: 14px;
    font-weight: 700;
}

/* bpx6 */

.returns{
    font-size: 12px;
}

.orders{
    font-size: 14px;
    font-weight: 700;
}

.search-nav:hover{

    border: 2px solid orange;
}

/* box7 */

.nav-cart span{
    font-size: 14px;
    font-weight: 700;
}

.nav-cart i{
    font-size: 28px;
}


/* pannel */

.pannel{
    height: 39px;
    /* width: 1536px; */
    color: white;
    padding-left: 15px;
    font-size: 14px;
    display: flex;
    justify-content:20px;
    align-items: center;
    background: #232F3E;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    
    font-weight: 700;
}
.menu i{
    font-size: 20px;
    margin-right: 5px;
}



.deal{
  padding-left: 10px;
  padding-right: 10px;
}

.service{
  padding-left: 10px;
  padding-right: 10px;
}

.reg{
  padding-left: 10px;
  padding-right: 10px;
}

.gf{
  padding-left: 10px;
  padding-right: 10px;
}

.sell{
  padding-left: 10px;
  padding-right: 10px;
}

.shop-deal{
    margin-left: 55%;
   font-weight: 700;
}


/* main  */

.main-section{
    /* width: 1500px; */
    height: 350px;
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.sub-section{
    background: white;
    line-height: 40px;
    width: 97%;
    color: black;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    /* text-align: center; */
    /* height: 40px; */
    /* position: relative;
    top: 300px; */
}

.sub-section a{
    text-decoration: none;
    font-weight: 600;
}


/* shop section  */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    background: #e2e7e6;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

.box{
    
    height: 450px;
    width: 390px;
    margin-top: 20px;
    padding-top: 25px;
    position: relative;
    bottom: 20px;
   
    background: white;
}
.shop-section h2{
    padding-left: 20px;
}
.electronicIMG{
    height: 350px;
    /* width: 350px; */
   margin-top: 5px;
   margin-left: 22px;
   margin-right: 22px;
   margin-bottom: 20px;
    background-image: url(electronic\ \(1\).png);
    background-size: cover;
}

.fashion{
    height: 350px;
    /* width: 350px; */
    margin-top: 5px;
   margin-left: 22px;
   margin-right: 22px;
    background-image: url(box8_image.jpg);
    background-size: cover;
}
.beauty{
    height: 350px;
    /* width: 350px; */
    margin-top: 5px;
   margin-left: 22px;
   margin-right: 22px;
    background-image: url(box5_image.jpg);
    background-size: cover;
}
.mobile{
    height: 350px;
    /* width: 350px; */
    margin-top: 5px;
   margin-left: 22px;
   margin-right: 22px;
    background-image: url(box4_image.jpg);
    background-size: cover;
}

.more{
    box-sizing: border-box;
    color: rgb(0, 113, 133);
    margin-top: 30px;
    margin-left: 22px;
}







.health{
    height: 350px;
    
   margin-top: 5px;
   margin-left: 22px;
   margin-right: 22px;
   margin-bottom: 20px;
    background-image: url(box2_image.jpg);
    background-size: cover;
}

.toys{
    height: 350px;
    
   margin-top: 5px;
   margin-left: 22px;
   margin-right: 22px;
   margin-bottom: 20px;
    background-image: url(box7_image.jpg);
    background-size: cover;
}
.fitness{
    height: 350px;
    
   margin-top: 5px;
   margin-left: 22px;
   margin-right: 22px;
   margin-bottom: 20px;
    background-image: url(fitness.png);
    background-size: cover;
}
.home{
    height: 350px;
    
   margin-top: 5px;
   margin-left: 22px;
   margin-right: 22px;
   margin-bottom: 20px;
    background-image: url(home.png);
    background-size: cover;
}